doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='http://fonts.googleapis.com/css?family=Roboto:300,100', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel='stylesheet', href='/styles/style.css')
  body.container(ng-app='vid2gif')
    block content
    script(src='bower_components/angular/angular.min.js')
    script(src='bower_components/ng-file-upload/angular-file-upload-all.min.js')
    script(src="bower_components/progressbar.js/dist/progressbar.min.js")
    script(src='scripts/app.js')